/* ------GENERAL------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-grayish-red: #413a3a;

  /* GRADIENTS*/
  --gradient1: #faf2f2;
  --gradient2: #f8bfbf;
  --gradient3: #ee8c8c;

  /* BACKGROUND */
  --bg: #fff5f5;
  --bg-email-color: #fef5f5;
}

body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--gradient1);
}

/* ------HERO------- */

.container {
  display: grid;
}

.logo {
  display: block;
  margin: 3em 0 3em 1.9em;
  width: 35%;
}

/* IMAGE */
.image {
  margin: 0 auto;
}

/* MAIN TITLE */

.main {
  text-align: center;
}

.main__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  padding: 1.5em 0 0.5em 0;
}

.accent {
  color: var(--desaturated-red);
  font-weight: 300;
  margin-bottom: 0.3rem;
}

/* MAIN TEXT */

.main__text {
  line-height: 1.5em;
  color: var(--desaturated-red);
}

/* -----FORM----- */

.form {
  margin: 1.2em 0 1.8em 0;
  padding: 1em 1.8em;
  color: var(--desaturated-red);
}

.email-input {
  border: 1px solid var(--desaturated-red);
  background: var(--bg-email-color);
  border-radius: 40px;
  font-weight: 300;
  width: 22em;
  padding: 1.2em;
}

input::placeholder {
  color: var(--desaturated-red);
  opacity: 0.8;
}

input:focus {
  outline: none;
}

.submit-btn {
  position: absolute;
  transform: translateX(-3.3em);
  width: 4.45em;
  background: linear-gradient(
    135deg,
    var(--gradient1),
    var(--gradient2),
    var(--gradient3)
  );
  border-radius: 30px;
  padding: 0.8rem 1.4rem;
  border: none;
  box-shadow: 0px 5px 10px 0px var(--gradient2);
}

.submit-btn:hover {
  cursor: pointer;
}

/* ERROR MESSAGE  */

.error-msg {
  color: var(--softRed);
}

/* DESKTOP IMAGE */
.img-desktop-container {
  display: none;
}

/* -----FOOTER----- */

.footer {
  margin: 0 auto;
  line-height: 1.5em;
  color: var(--desaturated-red);
  text-align: center;
  padding-bottom: 1em;
  grid-row: span 2;
}

.attribution {
  font-size: 0.7rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
